*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-div{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.phandau, p, .main-bot-phaiduoi h5, .main-bot-phaitren h5, .main-bot-trai h5{
    color: #757575;
}
button{
    cursor: pointer;
}
.phandau{
    justify-content: space-between;
    padding: 10px 5%;
}
.phandau-left span{
    margin-left: 5px;
    font-weight: 600;
    color: black;
}
.phandau-right i{
    margin-right: 20px;
}
nav{
    justify-content: space-between;
    padding: 30px 5%;
}
nav .nav-left h4{
    font-size: 20px;
    font-weight: 600;
}
.nav-right li{
    margin-right: 45px;
}
.nav-right li:first-child, .nav-right li:first-child a{
    color: #34b6a2;
}
.main-top-backgroud{
    background-image: url("./images/SummerCollection.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-top{
    padding-top: 150px;
    padding-left: 8%;
}
.main-top-item{
    padding-bottom: 30px;
}
.main-top-item button{
    background: #fafafa;
    border: none;
    width: 180px;
    height: 50px;
    font-weight: 500;
}
.main-mid{
    margin-bottom: 70px;
}
.main-mid-tren{
    justify-content: space-between;
    padding: 20px 5%;
    margin-top: 20px;
}
.main-mid-duoi{
    justify-content: space-between;
    padding: 10px 5%;
}
.main-mid-duoi-items{

}
.main-mid-duoi-items img{
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    padding: 7px;
}
.main-mid-duoi-items p{
    padding-top: 10px;
    font-size: 25px;
    color: rgb(61, 173, 173);
}
.boder{
    border: 0 solid transparent;
    border-radius: 5px;
}
.main-bot{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px 5%;
    margin-bottom: 30px;
}
.main-bot-trai{
    grid-column: 1/4;
    grid-row: 1/3;
    height: 500px;
    background-image: url("./images/StreetWear.jpg");
    background-size: 100%;
}
.main-bot-trai-text{
    padding-top: 150px;
    padding-left: 400px;
}
.mbt-text{
    margin-bottom: 10px;
}

.main-bot-phaitren, .main-bot-phaiduoi{
    grid-column: 4/6;
}
.main-bot-phaitren{
    background-image: url("./images/BasicShoes.jpg");
    background-size: 100%;
}
.main-bot-phaitren-text{
    padding-top: 90px;
    padding-left: 60px;
}
.main-bot-phaiduoi{
    background-image: url("./images/WoolenHat.jpg");
    background-size: 100%;
}
.main-bot-phaiduoi-text{
    padding-top: 90px;
    padding-left: 60px;
}
.hr{
    margin-bottom: 40px;
}
.footer{
    justify-content: space-between;
    padding: 10px 5%;
}
.footer1 p, .footer2 p, .footer3 p, .footer4 p{
    margin-bottom: 5px;
}
.icon{
    padding: 10px;
}
.icon i{
    padding: 0 15px;
}



